#profile-pic img {
  width: 10em;
  height: 10em;
}

#about-links img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#about-links a {
  border-radius: 50%;
}

.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 3em;
  transition: all 1s ease;
  padding: 1em 2em;
}

#modal-content {
  width: 21vw;
  height: fit-content;
  z-index: 20;
}
#modal {
  z-index: 20;
}

#name-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name {
  font-size: 20px;
}

#technologies-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1em;
}

.technologies {
  width: 50%;
  padding: .3em;
  height: 3em;
}

#technologies-list #left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#technologies-list #right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

#left .technologies {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#right .technologies {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.technologies img {
  width: 1.5vw;
  height: fit-content;
  margin: .4em;
}
