#profile-pic img {
  width: 10em;
  height: 10em;
}

#about-links img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#about-links a {
  border-radius: 50%;
}

.about-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 3em;
  transition: all .5s ease;
}

.about-container:hover {
  filter: drop-shadow(0 0 5px rgb(60, 70, 75));
  background-color: rgb(218, 214, 203);
}

#modal-content {
  width: 20vw;
  height: 50vh;
}
