#profile-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

#profile-btn-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#profile-pic-preview-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.profile-dropdown {
  background-color: rgb(56, 56, 56);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-dropdown div,
.profile-dropdown button {
  padding: 1em;
  background-color: transparent;
  border: none;
  color: white;
}
