.users-container,
.followers-container,
.following-container {
  width: 85vw;
  /* height: 70vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.users-container h1,
.followers-container h1,
.following-container h1 {
  margin-top: 1em;
  margin-bottom: 0;
}

.users-container.users-page {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users-list {
  width: 100%;
  height: 70%;
  list-style-type: none;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.users-list li {
  width: 14vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.users-list li.followers,
.users-list li.following {
  width: 20vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.users-list.followers,
.users-list.following {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.users-list a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-buttons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 212, 100);
  border-radius: 20px;
}

.user-card {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(236, 232, 232);
  border-radius: 20px;
  padding: 0 1em;
  margin-bottom: 1em;
}

.user-card-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22%;
  padding: 1em;
  border-radius: 20px;
}

#follow-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-link-row {
  height: 22%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 20px;
}

.user-card > :nth-child(odd) {
  background-color: rgb(224, 212, 100);
}

.user-card > :nth-child(even) {
  background-color: rgb(181, 167, 185);
}

#follow-row {
  transition: all 1s ease;
}

.user-card > .followed {
  background-color: rgba(76, 102, 182, 0.575);
}
.user-card > .not-followed {
  background-color: rgba(143, 59, 59, 0.582);
}

.followed button:hover {
  color: rgb(143, 59, 59);
}
.not-followed button:hover {
  color: rgba(77, 116, 233, 0.979);
}

.user-card > div {
  margin: 1em;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-username {
  width: 40%;
  display: flex;
  justify-content: center;
}

#users-page-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.users-page.main-container {
  display: flex;
  flex-direction: column;
  width: 85vw;
  /* height: 100vh; */
}

.extended {
  max-height: 1000vh;
}

.users-page.main-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  border-bottom: 3px solid gray;
  height: 15vh;
}

#users-page-header-title {
  font-size: 20px;
  font-weight: 600;
}

#users-page-body {
  height: auto;
}

.users-page.main-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  border-bottom: 3px solid gray;
  height: 15vh;
}

.users-page.main-header div {
  margin: 1em;
}

#users-page-categories {
  color: rgb(85, 82, 82);
}
#users-page-categories a {
  margin: .5em;
  padding: .5em;
  transition: all 1s ease;
}
#users-page-categories a:hover {
  font-size: 17px;
  filter: drop-shadow(0 0 5px rgb(60, 70, 75));
}
#users-page-categories .active {
  font-size: 17px;
  filter: drop-shadow(0 0 5px rgb(60, 70, 75));
}

.back-wrapper {
  width: 80%;
  margin-bottom: 2em;
  display: flex;
  justify-content: flex-start;
}
