.users-container {
  width: 85vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users-list {
  width: 100%;
  height: 70%;
  list-style-type: none;
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.users-list li {
  width: 18%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.users-list a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-buttons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 212, 100);
  border-radius: 20px;
}

.user-card {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(236, 232, 232);
  border-radius: 20px;
  padding: 0 1em;
}

.user-card-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22%;
  padding: 1em;
  border-radius: 20px;
}

#follow-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-link-row {
  height: 22%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 20px;
}

.user-card > :nth-child(odd) {
  background-color: rgb(224, 212, 100);
}

.user-card > :nth-child(even) {
  background-color: rgb(181, 167, 185);
}

.user-card > div {
  margin: 1em;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-username {
  width: 40%;
  display: flex;
  justify-content: center;
}

#users-page-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.users-page.main-container {
  display: flex;
  flex-direction: column;
  width: 85vw;
}

.users-page.main-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  border-bottom: 3px solid gray;
  height: 15vh;
}
