* {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
}

.app-wrapper {
  display: flex;
  background-color: gainsboro;
}

a, button {
  cursor: pointer;
}

a:visited {
  color: inherit;
}
