* {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
  color: rgb(85, 82, 82);
}

body {
  margin: 0;
}

.app-wrapper {
  display: flex;
  background-color: gainsboro;
}

a, button {
  cursor: pointer;
}

a:visited {
  color: inherit;
}

button,
a {
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: rgb(85, 82, 82);
  transition: all 1s ease;
  font-size: 16px;
}

button:hover,
a:hover {
  font-size: 17px;
  filter: drop-shadow(0 0 5px rgb(60, 70, 75));
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(94, 93, 93);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color:  rgb(172, 168, 168);
  border-radius: 10px;
}
