.navbar-container {
  display: block;
  width: 15vw;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  color: white;
  height: 100%;
  min-width: 15vw;
}

.navbar a {
  color: white;
}

.navbar-links {
  margin: 1em 0;
}

.navigation-profile-btn {
  display: block;
  position: absolute;
  right: 5vw;
  top: 2vh;
  width: 15vw;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 0 0 5px;
  padding: 5px;
}
.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 12px;
}
.logo-wrapper span {
  font-size: 20px;
  font-weight: 500;
}
