.home-main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.overviews-main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.overview-main-container.no-plans {
  height: 100vh;
}

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin-right: 2em;
}

#home-header-wrapper {
  width: 90%;
}

#home-header-static {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-header div {
  margin: .5em;
}

#home-header-title {
  font-weight: 500;
  font-size: 20px;
  display: block;
  position: absolute;
  left: 19vw;
  top: 5vh;
}

#home-header-dynamic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .1em;
}

#home-header-categories {
  color: rgb(85, 82, 82);
}
#home-header-categories a {
  margin: .5em;
  padding: .5em;
  transition: all 1s ease;
}
#home-header-categories a:hover {
  font-size: 17px;
  filter: drop-shadow(0 0 5px rgb(60, 70, 75));
}
#home-header-categories .active {
  font-size: 17px;
  filter: drop-shadow(0 0 5px rgb(60, 70, 75));
}

#home-header-date {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

#home-header-greeting {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 32px;
  margin-top: 0;
}

.home-overview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em;
  padding: 1em;
}

.widget-wrapper {
  width: 30vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 1em;
  background-color: rgb(240, 236, 229);
  border: 3px solid gray;
  border-radius: 20px;
}
