.calendar-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#month-selector-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#calendar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#weekdays-row {
  display: flex;
  flex-direction: row;
}

.weekdays {
  width: 14.285%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-collapse: collapse;
}

#calendar-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-weeks {
  width: 100%;
  height: 11.67vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.calendar-days {
  width: 14.285%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;

}
