.breakdowns-container {
  width: 85vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.breakdown-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breakdown-overview {
  width: 100%;
}

.breakdown-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  padding: 1em;
}

.no-month-selected {
  display: flex;
  justify-content: center;
  align-items: center;
}

#have-plans {
  transition: all 1s ease;
  font-size: 40px;
  font-weight: 300;
}

#have-plans:hover {
  filter: drop-shadow(0 0 5px rgb(60, 70, 75));
  font-size: 42px;
  font-weight: 300;
  cursor: default;
}

#has-no-plans {
  transition: all 1s ease;
  font-size: 30px;
  font-weight: 300;
  width: 50%;
  margin: 0 auto;
}

#has-no-plans:hover {
  filter: drop-shadow(0 0 5px rgb(60, 70, 75));
  font-size: 31px;
  font-weight: 300;
  cursor: default;
}

.breakdown-overview > :nth-child(odd) {
  background-color: rgb(224, 212, 100);
}

.breakdown-overview > :nth-child(even) {
  background-color: rgb(181, 167, 185);
}

.breakdown-overview > div {
  border-radius: 20px;
}

#breakdown-overview-header {
  background-color: transparent;
}

.breakdowns-container.widget {
  width: 30vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.widget .breakdown-row {
  margin: .5em 0;
  padding: .5em;
}

.widget .breakdown-info {
  height: fit-content;
}
