.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#new-spending-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
