.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
}

.spending-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
